<h1> Student App </h1>

<ul>
  <li *ngFor="let x of students"><!-- *ngFor looping through the students array and looking for said data -->
    {{x.id}}, {{x.name}}, {{x.address}}
  </li>
</ul>

<ol>
  @for(student of students; track student){<!-- @for has the same concepts as *ngFor just a different method -->
    <li>{{student.id}}, {{student.name}}, {{student.address}}</li>
  }
</ol>

<br>

<h1> Weather App </h1>

<ul>
  <li *ngFor="let x of weather"><!-- *ngFor looping through the weather array and looking for said data -->
    {{x.main}}, {{x.description}}
  </li>
</ul>

<ol>
  @for(w of weather; track w){<!-- @for has the same concepts as *ngFor just a different method -->
    <li>{{w.main}}, {{w.description}}</li>
  }
</ol>

<p *ngIf="weather[0]!=null">{{weather[0].main}} - {{weather[0].description}}</p><!-- ngIf very Important here as weather[0].etc is assigned as null as the UI runs gets the data then runs UI again -->
<p>{{temperature}}</p>
<!--
  <ol> is an ordered list
  <ul> is an unordered list
  <li> is a list item
-->